# Ignore the Python virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore the large data directories. The repository is for CODE, not data.
/gfdl_mirror/

# Ignoring narccap regional downloader script for now
regional_main.py



