# ------------------
# General settings
# ------------------
base_data_path: "/mnt/datalake/abdullah/gfdl_mirror"
raw_data_dir: "raw"
log_file: "/mnt/datalake/abdullah/gfdl_mirror/Pipeline_Logs/pipeline.log - Phases 1, 2 & 3 (re-run)"

# -----------------------------------------------------
# List of processing regions with their configuration
# -----------------------------------------------------
processing_regions:
  - name: "Southern_Africa" # same scope as CDO
    bounding_box: { min_lon: 12.0, max_lon: 41.0, min_lat: -26.0, max_lat: -4.0 }
  - name: "East_Africa"
    bounding_box: { min_lon: 22.0, max_lon: 52.0, min_lat: -12.0, max_lat: 22.0 }
  - name: "West_Africa"
    bounding_box: { min_lon: -20.0, max_lon: 20.0, min_lat: -4.0, max_lat: 25.0 }
  - name: "Latin_America"
    bounding_box: { min_lon: -118.0, max_lon: -34.0, min_lat: -56.0, max_lat: 33.0 }
  - name: "Southeast_Asia"
    bounding_box: { min_lon: 90.0, max_lon: 142.0, min_lat: -12.0, max_lat: 25.0 }

# ------------------------
# Data structure mapping
# ------------------------
variable_categories:
  soil_moisture: ["mrso", "mrsol", "mrro"]
  radiation: ["rsds", "rsus", "rss", "par"]
  energy_fluxes: ["hfls", "hfss", "hfgs"]
  temperature: ["tsl", "ts", "tas", "tasmin", "tasmax"]
  precipitation: ["pr"]
  humidity: ["hus"] 
  wind: ["sfcWind"]

# ----------------------
# Datasets to download
# ----------------------

# --- PHASE 1 DATASET (Historical) ---
datasets:
  - name: "ESM4_historical"
    type: "historical"
    model: "esm4"
    experiment: "historical"
    url_template: "https://g-52ba3.fd635.8443.data.globus.org/css03_data/CMIP6/CMIP/NOAA-GFDL/GFDL-ESM4/{experiment}/{ensemble_member}/{mip_table}/{variable}/{grid}/{version}/{variable}_{mip_table}_GFDL-ESM4_{experiment}_{ensemble_member}_{grid}_{time_period}.nc"
    
    # --- Global discovery lists ---
    ensemble_members: ["r1i1p1f1", "r2i1p1f1", "r3i1p1f1"]
    grids_to_try: ["gr1"]
    versions_to_try: ["v20190726", "v20180701"]
    
    # --- Configuration groups ---
    # grouped by time frequency to ensure correct time periods are used
    configuration_groups:
      - name: "Monthly_Data"
        mip_tables: ["Lmon", "Emon", "Amon"]
        time_periods: ["185001-194912", "195001-201412"]
        variables:
          - "mrso"
          - "mrsol"
          - "mrro"
          - "rsds"
          - "rsus"
          - "rss"
          #- "par"        NOT AVAILABLE
          - "hfls"
          - "hfss"
          #- "hfgs"       NOT AVAILABLE
          - "tsl"
          - "ts"
    
      - name: "Daily_Data"
        mip_tables: ["day"]
        time_periods:
          - "18500101-18691231"
          - "18700101-18891231"
          - "18900101-19091231"
          - "19100101-19291231"
          - "19300101-19491231"
          - "19500101-19691231"
          - "19700101-19891231"
          - "19900101-20091231"
          - "20100101-20141231"

        variables:
          - "mrso"
          - "mrro"
          - "rsds"

      - name: "Hourly_Data"
        mip_tables: ["3hr"]
        time_periods:
          - "185001010130-186912312230"
          - "187001010130-188912312230"
          - "189001010130-190912312230"
          - "191001010130-192912312230"
          - "193001010130-194912312230"
          - "195001010130-196912312230"
          - "197001010130-198912312230"
          - "199001010130-200912312230"
          - "201001010130-201412312230"

        variables:
          - "mrso"
          - "mrro"
          - "rsds"
          - "rsus"
        
  # --- PHASE 2 DATASETS (Scenarios) ---
  ## SSP2-4.5
  - name: "ESM4_ssp245"
    type: "scenario"
    model: "esm4"
    experiment: "ssp245" 
    url_template: "http://esgf-node.ornl.gov/thredds/fileServer/css03_data/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-ESM4/{experiment}/{ensemble_member}/{mip_table}/{variable}/{grid}/{version}/{variable}_{mip_table}_GFDL-ESM4_{experiment}_{ensemble_member}_{grid}_{time_period}.nc"
    ensemble_members: ["r1i1p1f1", "r2i1p1f1", "r3i1p1f1"]
    grids_to_try: ["gr1"]
    versions_to_try: ["v20190726", "v20180701"]
    configuration_groups:
      - name: "Monthly_Data"
        mip_tables: ["Lmon", "Emon", "Amon"]
        time_periods: ["201501-203412", "203501-205412", "205501-207412", "207501-209412", "209501-210012", "201501-210012"]
        variables: ["hfls", "hfss", "mrro", "mrso", "mrsol", "rsds", "rss", "rsus", "ts", "tsl"]

      - name: "Daily_Data"
        mip_tables: ["day"]
        time_periods: ["20150101-20341231", "20350101-20541231", "20550101-20741231", "20750101-20941231", "20950101-21001231"]
        variables: ["mrro", "mrso", "mrsol", "rsds", "rss", "rsus"]

      - name: "Hourly_Data"
        mip_tables: ["3hr"]
        time_periods: ["201501010130-203412312230", "203501010130-205412312230", "205501010130-207412312230", "207501010130-209412312230", "209501010130-210012312230"]
        variables: ["mrro", "mrso", "mrsol", "rsds", "rsus"]

## SSP5-8.5
  - name: "ESM4_ssp585"
    type: "scenario"
    model: "esm4"
    experiment: "ssp585"
    url_template: "http://esgf-node.ornl.gov/thredds/fileServer/css03_data/CMIP6/ScenarioMIP/NOAA-GFDL/GFDL-ESM4/{experiment}/{ensemble_member}/{mip_table}/{variable}/{grid}/{version}/{variable}_{mip_table}_GFDL-ESM4_{experiment}_{ensemble_member}_{grid}_{time_period}.nc"
    ensemble_members: ["r1i1p1f1", "r2i1p1f1", "r3i1p1f1"]
    grids_to_try: ["gr1"]
    versions_to_try: ["v20190726", "v20180701"]
    configuration_groups:
      - name: "Monthly_Data"
        mip_tables: ["Lmon", "Emon", "Amon"]
        time_periods: ["201501-203412", "203501-205412", "205501-207412", "207501-209412", "209501-210012", "201501-210012"]
        variables: ["hfls", "hfss", "mrro", "mrso", "mrsol", "rsds", "rss", "rsus", "ts", "tsl"]

      - name: "Daily_Data"
        mip_tables: ["day"]
        time_periods: ["20150101-20341231", "20350101-20541231", "20550101-20741231", "20750101-20941231", "20950101-21001231"]
        variables: ["mrro", "mrso", "mrsol", "rsds", "rss", "rsus"]

      - name: "Hourly_Data"
        mip_tables: ["3hr"]
        time_periods: ["201501010130-203412312230", "203501010130-205412312230", "205501010130-207412312230", "207501010130-209412312230", "209501010130-210012312230"]
        variables: ["mrro", "mrso", "mrsol", "rsds", "rsus"]

# --- PHASE 3 DATASET (SPEAR) ---
  - name: "ESM4_SPEAR_historical"
    type: "forecast_historical" # new type to distinguish it
    model: "spear" # new model name for directory structure
    experiment: "historical"
    # URL template based on the SPEAR documentation
    url_template: "https://noaa-gfdl-spear-large-ensembles-pds.s3.amazonaws.com/SPEAR/GFDL-LARGE-ENSEMBLES/CMIP/NOAA-GFDL/GFDL-SPEAR-MED/{experiment}/{ensemble_member}/{mip_table}/{variable}/{grid}/{version}/{variable}_{mip_table}_GFDL-SPEAR-MED_{experiment}_{ensemble_member}_{grid}_{time_period}.nc"
    
    # SPEAR has 30 ensemble members, we will start by searching for the primary ones
    ensemble_members: ["r1i1p1f1", "r2i1p1f1", "r3i1p1f1", "r4i1p1f1", "r5i1p1f1", "r6i1p1f1", "r7i1p1f1", "r8i1p1f1", "r9i1p1f1", "r10i1p1f1", "r11i1p1f1", "r12i1p1f1", "r13i1p1f1", "r14i1p1f1", "r15i1p1f1", "r16i1p1f1", "r17i1p1f1", "r18i1p1f1", "r19i1p1f1", "r20i1p1f1", "r21i1p1f1", "r22i1p1f1", "r23i1p1f1", "r24i1p1f1", "r25i1p1f1", "r26i1p1f1", "r27i1p1f1", "r28i1p1f1", "r29i1p1f1", "r30i1p1f1"]
    grids_to_try: ["gr3"] # documentation specifies 'gr3'
    versions_to_try: ["v20210201"] # documentation specifies this version
    
    configuration_groups:
      - name: "Monthly_Data"
        mip_tables: ["Amon"]
        time_periods: ["192101-201412"]
        variables:
          - "tas"  # near-surface air temperature
          - "pr"   # precipitation
          - "sfcWind"   # near-surface wind speed
          - "hus"  # specific humidity
      
      - name: "Daily_Data"
        mip_tables: ["day"]
        time_periods: ["19210101-19301231", "19310101-19401231", "19410101-19501231", "19510101-19601231", "19610101-19701231", "19710101-19801231", "19810101-19901231", "19910101-20001231", "20010101-20101231", "20110101-20141231"]  # daily SPEAR data is in 10-year chunks
        variables:
          - "tas"  # near-surface air temperature
          - "tasmin"  # daily minimum near-surface air temperature
          - "tasmax"  # # daily maximum near-surface air temperature
          - "pr"   # precipitation


# ------------------------
# Data Integrity Checks
# ------------------------
validation_rules:
  historical:
    expected_start_year: 1850
    expected_end_year: 2014
  # plausible data ranges for key variables
  # using scientific standard units (K for Kelvin, W m-2 for radiation)
  variable_ranges:
    tsl:  { min: 180, max: 340 } # Soil Temp (K)
    ts:   { min: 180, max: 340 } # Surface Temp (K)
    rsds: { min: 0,   max: 1400 } # Downward Shortwave Radiation (W m-2)
    rsus: { min: 0,   max: 1400 } # Upward Shortwave Radiation (W m-2)
    # default range for variables not explicitly listed
    default: { min: -1.0e10, max: 1.0e10 }